TMP_LFS='tmp06'
PRM_LFS='prm06'
SCR_LFS="tmp06"
DAT_LFS='dat06'
HOSTNAME_TMP='cf-porch+copperfist'
HOSTNAME_DATA_STAGING='195.169.23.88'
#HOSTNAME_DATA_STAGING='cf-transfer.hpc.rug.nl'
WORKING_DIR=/groups/${GROUP}/${TMP_LFS}/
HASHDEEP_VERSION='4.4-20180907-18a6b5d-GCCcore-11.3.0'
declare -a ARRAY_OTHER_PRM_LFS_ISILON=(
	'prm05'
	'prm06'
	'prm07'
)
CHRONQC_VERSION="1.0.4-foss-2018b-Python-3.7.4-bare"
CHRONQC_DATABASE_NAME="chronqc_db/chronqc.stats.sqlite"
CHRONQC_REPORTS_DIRS="/groups/${GROUP}/${TMP_LFS}/trendanalysis/reports"
CHRONQC_TEMPLATE_DIRS="${EBROOTNGS_AUTOMATED}/templates"
IMPORT_DIR="/groups/${GROUP}/${DAT_LFS}/trendanalysis/"
ARCHIVE_DIR="/groups/${GROUP}/${DAT_LFS}/trendanalysis/archive/"